name: tele_presentation
description: Secondary display presentation for dual-screen devices
version: 0.0.1
publish_to: none

environment:
  sdk: ^3.5.0
  flutter: ^3.24.0

resolution: workspace

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  plugin:
    platforms:

      android:
        package: com.tele.tele_presentation
        pluginClass: TelePresentationPlugin






